@model ProiectBun.Models.Review
@{
    ViewBag.Title = "Edit";
}

<h2>Editare review</h2>
@using (Html.BeginForm(actionName: "Edit", controllerName: "Reviews"))
{

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    <br />

    @Html.Label("Comment", "Comentariu: ")
    <br />
    @Html.EditorFor(m => m.Comment)
    @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Rating", "Rating: ")
    <br />
    @Html.EditorFor(m => m.Rating)
    @Html.ValidationMessageFor(m => m.Rating, "", new { @class = "text-danger" })

    <br />
    <br />

    <button class="btn btn-success" type="submit">Editeaza comentariu</button>
}


